# Ignore bytecode files
*.py[cod]

# Ignore compiled C/C++ code
*.so

# Ignore data output
*.vt[ru]
*.npz
*.visit
*.session*
*.png
*.npy


# Ignore Jupyter tmp
.ipynb_checkpoints/

# Ignore macOS Desktop Services files
.DS_Store
